=======
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
/test/unit/coverage/
/mnemonic_live.js
demo-contracts/node_modules/
l2-scaling-demos.iml
/loom-testing/loom/
/loom-testing/extdev_private_key
/loom-testing/extdev_public_key
/loom-testing/loom_public_key
/loom-testing/loom_private_key
/loom-testing/build/
